<html>
  <head>
    <title>Receipts</title>
  </head>
  <body> 

    <div class="container">
        <h3 class="card-title">Receipts</h3>
          <div class="list-group" *ngFor="let message of jsonMessages">
            <br>
              <div class="list-group-item">      
                  <div class="alert alert-success" role="alert">
                    {{message.type}}
                </div>             
                <p>{{message.payload}}</p>
              </div>
          </div>

          <div class="list-group" *ngFor="let message of xmlMessages">
              <br>
                <div class="list-group-item">      
                  <div class="alert alert-primary" role="alert">
                      {{message.type}}
                  </div>     
                  <p>{{message.payload}}</p>
                </div>
            </div>

            <div class="list-group" *ngFor="let message of ptMessages">
                <br>
                  <div class="list-group-item">      
                      <div class="alert alert-warning" role="alert">
                        {{message.type}}
                    </div> 
                    <p>{{message.payload}}</p>
                  </div>
            </div>
    </div>
  </body>
</html>     